body {
	background: url('@img/pic1.jpg') center 60%/auto auto no-repeat;
	width: 100%;
	color: blue;
	
}

//RESPONSIVE 
@media (max-width: 756px){
	body {
		color: green;
	}
}

@media (max-width: 756px){
	body {
		font-size: 30px;
	}
}